/* Joab Amos D. Viado */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, capxion, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcapxion, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcapxion, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#skip, .sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }
nav, q, p, h4, small, button, form{
    font-family: "Montserrat", sans-serif;
}
nav, q, p {
    font-size: 20px;
}
h1, h2, h3 {
    font-family: "Molle", cursive;
}
h1 {font-size: 50px;}
h2 {font-size: 45px;}
h3 {font-size: 40px;}
h4 {font-size: 30px;}
h3 {
    padding-bottom: 50px;
}
:root {
    --select-border: #9B26B0;
    --select-arrow: var(--select-border);
}

@media only screen and (min-width: 320px) {
header {
    background-image: linear-gradient(#55BCD5, #FFFFFF);
}
#menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
#menu-toggle label {
    background-color: #F6D64A;
    width: 250px;
    height: 50px;
    padding-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
#menu-toggle input{
    visibility: hidden;
}
nav a{
    text-decoration: none;
    color: #000000;
}
nav ul {
    visibility: collapse;
}
header,
#testimonials,
#about,
#contact,
footer {
    padding: 33px;
}
#intro h2,
#intro p {
    padding: 10px 30px;
}
p {
    line-height: 1.5;
}
#logo {
    position: relative;
    bottom: 25px;
    right: 40px;
}
#img-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#img-grid img{
    width: 100%;
}
#plan{
    background-color: #F6D64A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    padding-top: 40px;
}
#plan h3 {
    margin-bottom: -40px;
    padding-right: 100px;
}
#plan div section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #55BCD5;
    border: solid 3px white;
    border-radius: 15px;
    width: 400px;
    height: 320px;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
#plan div section:active {
    background-color: #9B26B0;
    color: #FFFFFF;
}
#testimonials div{
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 60px;
}
#testimonials h3,
#about h3,
#contact h3 {
    margin-bottom: -50px;
}
#testimonials h4,
#about h4 {
    font-weight: bold;
    text-transform: uppercase;
}
#testimonials section {
    padding-bottom: 10px;
}
q{
    font-style: italic;
}
#about {
    background-color: #499BD2;
}
#about section img {
    width: 140px;
    height: 140px;
    padding-bottom: 10px;
}
#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
#about div section {
    padding: 10px;
}
.form-required {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 20px;
}
form {
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.radio-label {
    text-transform: none;
    font-weight: 400;
}
form label {
    margin-top: 20px;
}
fieldset, input, label, textarea {
    box-sizing: border-box;
    display: block;
}
#names {
    display: flex;
    flex-direction: column;
}
fieldset legend {
    padding-top: 20px;
}
.required {
    color: #9b26b0;
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
}
input[type="email"],
input[type="tel"]
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
input[type="email"],
input[type="tel"],
input[type="text"],
.custom-select {
  border: 3px solid #9B26B0;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
input[type="submit"] {
    background-color: #9B26B0;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    height: 40px;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #9B26B0;
    border: solid 1px #9B26B0;
}
.radio-input input[type=radio]{
    accent-color: #9B26B0;
    border: 1px solid #9B26B0;
    display: inline-block;
    width: 3em;
    height: 3em;
    top: -1em;
    position: relative;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
}
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
.custom-select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}
.custom-select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select,
.custom-select:after {
  grid-area: select;
  justify-self: end;
}
footer {
    background-color: #EAEAEA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}
footer a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #000000;
    margin-top: 20px;
}
footer p {
    font-size: small;
}
footer a:hover {
    color: #9B26B0;
}
}
@media screen and (min-width: 768px) {
    #intro {
        margin: 60px;
    }
    #intro p {
        margin-bottom: 50px;
    }
    #logo {
        position: relative;
        top: 5px;
        left: 10px;
    }
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    header p {
        position: relative;
        top: 35px;
        right: 280px;
    }
    nav ul {
        visibility: visible;
    }
    nav {
        flex-grow: 2;
    }
    nav ul {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    nav a {
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
    }
    nav li {
        background-color: #FFFFFF;
        text-align: center;
        width: 170px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav li:hover {
        background-color: #F6D64A;
    }
    #menu-toggle {
        position: relative;
    }
    #menu-toggle label, #toggle{
        visibility: hidden;
    }
    #img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #img-grid picture {
        grid-column: 1 / span 2;
    }
    #plan div,
    #testimonials div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #plan h3 {
        margin-left: -350px;
    }
    #testimonials div {
        width: auto;
        justify-items: center;
    }
    #testimonials div section {
        padding: 10px;
        width: 300px;
    }
    #plan div section {
        width: 350px;
    }
    #plan div section:hover {
        background-color: #9B26B0;
        color: #FFFFFF;
    }
    #about div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        box-sizing: border-box;
        
    }
    #about div section {
        padding-top: 30px;
        justify-items: center;
        
    }
    #about h4{
        font-size: 20px;
    }
    form {
        margin: auto;
        max-width: 768px;
    }
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
    footer a {
        margin: 0;
    } 
}
@media screen and (min-width: 1920px) {
    header {
        display: flex;
    }
    header h1 {
        padding-left: 150px;
        padding-top: 20px;
    }
    header p {
        position: relative;
        right: 125px;
        top: 50px;
    }
    #menu-toggle {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
    }
    nav ul {
        gap: 10px;
    }
    header h1, header p {
        margin-left: -150px;
    }
    #intro {
        display: grid;
        grid-template-columns: 2fr 3fr;
        padding-left: 40px;
        padding-right: 40px;
    }
    #intro p, #intro h2 {
        grid-column-start: 1;
    }
    #plan div,
    #testimonials div{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-top:40px;
        padding-bottom: 60px;
    }
    #plan div section {
        margin-top: 60px;
        width: 400px;
    }
    #plan h3 {
        position: relative;
        left: -550px;
        top: 70px;
    }
    #testimonials,
    #about div {
        width: 85%;
        margin: auto;
    }
    #about {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    #about{
        display: flex;
        flex-direction: column;
    }
    #about h3 {
        padding-left: 100px;
    }
    #about section img {
        width: 200px;
        height: 200px;
    }
    #contact form{
        display: grid;
        grid-gap: 20px;
        max-width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contact h3{
        padding-left: 200px;
    }
    fieldset {
        display: flex;
        justify-content: space-between;
        
    }
    footer {
        display: flex;
        justify-content: space-between;
        padding-left: 200px;
        padding-right: 200px;
    }
    footer a:first-of-type {
        padding-left: 1000px;
    }
    
    
}